#banner {
    margin: 30% auto -15%;
    /*transform: scale(2);*/
}

.swiper-slide {
    width: 60%;
    height: 75%;
}

.banner_page {
    margin: 2% auto;
    left: 0;
    right: 0;
}

.banner_page span {
    margin: 0 1%;
}

h2 {
    text-align: center;
}

.swiper-pagination-bullet-active {
    width: 1.6%;
    border-radius: 0.8%;
}


.image-button {
    border: none; /* 移除默认边框 */
    background: transparent; /* 背景透明 */
    cursor: pointer; /* 鼠标悬停时显示手形光标 */
    width: 55%;
}

.image-button img {
    height: auto; /* 高度自动调整 */
}

.image-button:focus {
    outline: none; /* 移除焦点轮廓 */
}

@font-face {
    font-family: 'CustomFont'; /* 自定义字体名称 */
    src: url('./number.otf') format('opentype'); /* 字体文件路径 */
}

.custom-font {
    font-family: 'CustomFont', sans-serif; /* 使用自定义字体 */
}